/* NAVBAR */
.navbar {
  padding-top: 20px;              
  padding-bottom: 20px;
  position: flex;
  top: 0;
  width: 100%;
  z-index: 3;
  padding-left: 80px;
  padding-right: 80px;
}

/* links da Navbar */
.navbar-nav .nav-link {
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}

/* Margens específicas por link */
.espacamento-acomodacao {
  margin-right: 79px;
}
.espacamento-locais {
  margin-right: 64px;
}
.espacamento-blog {
  margin-right: 58px;
}
.espacamento-contatos {
  margin-right: 0; 
}

.logo {
  width: 58.99px;
  height: 61.26px;
}

body {
  background-image: url(assets/images/compass.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

.container1 {
  width: 466px;
  height: 642px;
  border-radius: 35px;
  background-color: rgba(217, 217, 217, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 140px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.form-select {
  width: 345px;
  height: 76px;
  border-radius: 15px;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 118%;
  letter-spacing: 0;
  color: rgba(30, 30, 30, 1);
}

#cidade {
  margin-bottom: 40px;
}

.descricao {
  margin-left: -80px;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 118%;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
}

.descricao2 {
  margin-top: 40px;
  margin-left: -60px;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 118%;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
}

#botaover {
  background-color: rgba(104, 105, 49, 1);
  color: black;
  width: 345px;
  height: 76px;
  border-radius: 15px;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 118%;
  letter-spacing: 0;
}

/* ------------------- RESPONSIVIDADE ------------------- */
@media (max-width: 768px) {
  .container1 {
      width: 95%;
      height: auto;
      margin: 50px auto;
      padding: 30px 20px;
  }

  .form-select {
      width: 100%;
      font-size: 20px;
      height: 60px;
  }

  .descricao,
  .descricao2 {
      font-size: 22px;
      margin-left: 0;
      width: 100%;
      text-align: left;
      padding-left: 10px;
  }

  #botaover {
      height: 60px;
      font-size: 20px;
  }

  .navbar {
      padding-left: 20px;
      padding-right: 20px;
  }

  .navbar-nav .nav-link {
      font-size: 20px;
  }
}
