/* NAVBAR */
.navbar {
    padding-top: 20px;              
    padding-bottom: 20px;           /*espaçamento vertical interno dentro da navbar (acima e abaixo do conteúdo - padding-top & padding-bottom) */
    position: flex;             /*Posiciona a navbar de forma absoluta relativamente ao seu elemento pai posicionado */
    top: 0;                         /*Coloca a navbar encostada ao topo da página */
    width: 100%;                    /*A navbar ocupa toda a largura do ecrã */
    z-index: 3;                     /*ordem da sobreposição (stacking) * - a navbar vai aparecer por cima de outros elementos com z-index inferior */
    padding-left: 80px;
    padding-right: 80px;
    }
    
    /* links da Navbar */
    .navbar-nav .nav-link {
    font-family:"Josefin Slab", serif;;    /* fonte do texto usada nos links da navbar */
    font-weight: 700;                   /* espessura da fonte */
    line-height: 100%;                  /* Espaçamento entre linhas */
    letter-spacing: 0%;                 /* Espaço horizontal entre cada letra */
    color: white;           /* cor preta */
    font-size: 25px;                    /* tamanho da fonte: 25px */
    text-transform: uppercase;
    }
    
    /* Margens específicas por link */
    .espacamento-acomodacao {
      margin-right: 79px;
      }
      .espacamento-locais {
        margin-right: 64px;
      }
      .espacamento-blog {
        margin-right: 58px;
      }
      .espacamento-contatos {
        margin-right: 0; 
      }
  
      .logo{
        width: 58.99px;
        height: 61.26px;
      }
  


body{
    background-image: url(assets/images/compass.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    
    
}
p{
    margin: 0;
}
.containerpai{
    display: flex;
    flex-direction: row;
}

.container2{
    align-items: center;
}

.imagemmapa{
    margin-left: 50%;
    margin-top: 100px;
    width: 466px;
    height: 363px;
    border-radius: 10px;
    background-image: url(assets/images/mapa.png);
}
.morada{
    margin-top: 30px;
    margin-left: 50%;
    width: 465px;
    height: 206px;
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.51);
    text-align: justify;
    display: flex;
    flex-direction: column;

    font-family: 'Jura', sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    line-height: 118%;
    letter-spacing: 0;
}

#titulomorada{
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 65px;
    font-family: 'Jura', sans-serif;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    line-height: 118%;
    letter-spacing: 0;
}

#titulomorada , #textomorada , #emailmorada{
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    line-height: 118%;
    letter-spacing: 0;
    text-align: justify;
    margin-left: 65px;
}


.container1{
    width: 466px;
    height: 642px;
    border-radius: 35px;
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 140px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.form-select{
    width: 345px;
    height: 76px;
    border-radius: 15px;
    align-items: center;
    align-content: center;
    font-family:"Jura", sans-serif ;
    font-weight: 700;
    font-size: 25px;
    line-height: 118%;
    letter-spacing: 0;
    color:rgba(30, 30, 30, 1);
    ;
}
#cidade{

margin-bottom: 40px;
}
#pais{

}

.descricao{
    margin-left: -80px;
    font-family:"Jura", sans-serif ;
    font-weight: 700;
    font-size: 25px;
    line-height: 118%;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 1);
}
.descricao2{
    margin-top: 40px;
    margin-left: -60px;
    font-family:"Jura", sans-serif ;
    font-weight: 700;
    font-size: 25px;
    line-height: 118%;
    letter-spacing: 0;
    color:rgba(0, 0, 0, 1);
    
}

#botaover{
    background-color: rgba(104, 105, 49, 1);
    color: black;
    width:345px ;
    height: 76px;
    border-radius: 15px;

    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 118%;
    letter-spacing: 0;
}